.HourlyForecast-DisclosureList > h3 {
  padding: 0 26px;
}
.main-content-right1 h2 {
  padding: 16px 16px 0;
}
.PromoDriver {
  padding: 0 16px 16px;
}

.Image-intrinsicRatioRoot {
  width: 285px;
  margin: auto;
  padding-top: 35.0877%;
}
.Image-intrinsicRatioRoot img {
  top: 0;
  width: 100%;
}
