<app-header></app-header>

<div class="main-content mx-auto grid gap-x-3 pt-3 pb-3">
  <div class="main-content-left relative ml-3 grid col-start-1 col-end-2
    gap-x-3 auto-rows-max" *ngFor="let item of data1">
    <div class="content-left1 w-full col-span-12 h-full rounded-md
      bg-no-repeat bg-cover">
      <div class="main-content1-header flex px-3 py-2.5 text-lg
        rounded-t-md">
        <h1 class="text-xl">Xom trong, 64</h1> Kể từ {{time}} ICT
      </div>
      <div class="main-content-text flex justify-between px-3 py-2.5">
        <div class="main-content-text-left text-2xl">
          <span class="text-8xl font-medium leading-none">{{
            item?.daytimeTemperature }}°</span>
          <div class="font-semibold">{{ item?.status }}</div>
          <div class="font-bold mt-1">Ngày {{ item?.daytimeTemperature }}° •
            Đêm {{ item?.nightTemperature }}°</div>
        </div>
        <div class="main-content-text-right flex items-center">
          <img src="{{ item?.dayImage }}" alt="">
        </div>
      </div>
    </div>
    <div class="content-left2 w-full h-full col-span-12 mt-3
      rounded-md">
      <div class="main-content2-header flex p-4 text-lg rounded-t-md">
        <h2 class="text-xl font-semibold">Dự báo hôm nay cho Xom trong, 64</h2>
      </div>
      <ul class="weather-table flex justify-center px-2 mb-3 text-lg">
        <!-- <li class="">
          <a class="flex items-center font-normal" href="">
            <h3>{{ item?.period }}</h3>
            <span class="text-4xl">{{ item?.daytimeTemperature }}°</span>
            <img src="{{ item?.image }}" alt="">
            <span class="color-text-span">{{ item?.rainfall }}</span>
          </a>
        </li> -->
        <!-- <li class="" *ngFor="let item of data2">
          <a class="flex items-center font-bold" href="">
            <h3>{{ item?.period }}</h3>
            <span class="text-blue-600 text-4xl">{{ item?.daytimeTemperature }}°</span>
            <img src="{{ item?.image }}" alt="">
            <span class="color-text-span flex font-bold">
              <svg set="heads-up" name="precip-rain-single" theme="full"
                aria-hidden="true" role="img"
                class="droplets inline-block font-bold" viewBox="0
                -2 5 10"><title>Rain</title><path
                  d="M4.7329.0217c-.1848-.059-.3855.0064-.4803.148L.2731
                  5.1191c-.0814.0922-.1501.1961-.196.3108-.2469.6009.1185
                  1.2697.8156 1.4943.6914.226 1.447-.0712
                  1.7-.6585L4.9662.4987l.0111-.0282c.073-.1807-.036-.379-.2444-.4488z"></path></svg>
                  {{ item?.rainfall }}%</span>
          </a>
        </li> -->
        <li class="" *ngFor="let item of data2">
          <a class="flex items-center font-normal" href="">
            <h3>{{ item?.period }}</h3>
            <span class="text-blue-600 text-4xl">{{ item?.daytimeTemperature
              }}°</span>
            <img src="{{ item?.image }}" alt="">
            <span class="color-text-span flex">
              <svg set="heads-up" name="precip-rain-single" theme="full"
                aria-hidden="true" role="img"
                class="droplets inline-block font-bold" viewBox="0
                -2 5 10"><title>Rain</title><path
                  d="M4.7329.0217c-.1848-.059-.3855.0064-.4803.148L.2731
                  5.1191c-.0814.0922-.1501.1961-.196.3108-.2469.6009.1185
                  1.2697.8156 1.4943.6914.226 1.447-.0712
                  1.7-.6585L4.9662.4987l.0111-.0282c.073-.1807-.036-.379-.2444-.4488z"></path></svg>
              {{ item?.rainfall }}%</span>
          </a>
        </li>
      </ul>
      <div class="card-footer">
        <a class="btn rounded-2xl" routerLink="/hourly"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">Các giờ tới</a>
      </div>
    </div>
    <div class="content-left3 w-full h-full col-span-12 mt-3
      rounded-md">
      <div class="main-content2-header flex p-4 text-lg rounded-t-md">
        <h2 class="text-xl font-semibold">Thời tiết hôm nay tại Xom trong,
          64</h2>
      </div>
      <div class="TodaysDetailsBanner flex items-end">
        <div class="flex flex-col flex-grow">
          <span class="TodaysDetailsBanner-large font-semibold">{{
            item?.daytimeTemperature }}°</span>
          <span>Cảm giác như</span>
        </div>
        <div class="SunriseSunset flex flex-col items-center">
          <svg
            class="SunriseSunset-graph" width="107" height="67">
            <path
              d="M -13.5 26.5 a 1 1 0 0 0 80 0"
              class="SunriseSunset-graphPath"
              style="transform-origin: 40px 40px;"></path>
            <g
              style="transform: translate(55.3509px, 3.97465px);">
              <svg
                set="current-conditions" name="daylight2" theme=""
                class="Icon-Daylight"
                aria-hidden="true" role="img"><title>Daylight</title><circle
                  cx="12" cy="12" r="12" fill="#FFF"></circle>
                <path
                  fill="#F7C044" d="M18.405 17.661a1 1 0 0 1-1.437
                  1.391l-1.665-1.72a1 1 0 1 1 1.437-1.39l1.665 1.72zm-5.541
                  2.651a1 1 0 0 1-2 0v-2.366a1 1 0 1 1 2
                  0v2.366zm-6.718-1.624a1 1 0 0 1-1.357-1.469l1.758-1.624a1
                  1 0 1 1 1.357 1.47l-1.758 1.623zm-2.753-5.769a1 1 0 1 1
                  .002-2l2.422.001a1 1 0 0 1-.001
                  2l-2.423-.001zm1.77-6.115A1 1 0 0 1 6.6 5.414l1.664
                  1.719a1 1 0 0 1-1.436 1.391l-1.665-1.72zm5.751-3.391a1 1 0
                  1 1 2 0v2.366a1 1 0 0 1-2 0V3.413zm6.5 1.903a1 1 0 1 1
                  1.356 1.47l-1.757 1.623a1 1 0 1
                  1-1.357-1.47l1.758-1.623zm3.005 6.114a1 1 0 0 1-.002
                  2l-2.422-.001a1 1 0 0 1 .001-2l2.423.001z"></path>
                <ellipse
                  fill="#F7C044" cx="11.85" cy="11.935" rx="3.225"
                  ry="3.256"></ellipse>
              </svg>
            </g>
          </svg>
          <div class="SunriseSunset-datesContainer flex items-center
            justify-between">
            <div class="SunriseValue flex items-center h-6 text-sm">
              <svg class="sunIcon inline-block w-6"
                set="current-conditions" name="sunrise-line" theme=""
                aria-hidden="true" role="img" viewBox="0
                0 24 24"><title>Sun Rise</title><path d="M10.862
                  6.052v5.329a.75.75 0 0 0 1.5 0V6.036l1.772 1.534a.75.75 0
                  0 0 .982-1.134l-3.003-2.601a.75.75 0 0 0-.982 0L8.128
                  6.436A.75.75 0 0 0 9.11 7.57l1.752-1.518zM21 19.128a.75.75
                  0 0 0 0-1.5H3.167a.75.75 0 1 0 0 1.5H21z"></path></svg>
              <p>{{ item?.sunRise }}</p>
            </div>

            <div class="SunsetValue flex items-center h-6 text-sm ml-1">
              <svg class="sunIcon inline-block w-6"
                set="current-conditions" name="sunset-line" theme=""
                aria-hidden="true" role="img" viewBox="0
                0 24 24"><title>Sunset</title><path d="M10.862 9.853L9.044
                  8.278a.75.75 0 1 0-.982 1.134l3.003 2.602a.75.75 0 0 0
                  .982 0l3.004-2.602a.75.75 0 0 0-.983-1.134l-1.706
                  1.478V4a.75.75 0 0 0-1.5 0v5.853zM21 19.075a.75.75 0 1 0
                  0-1.5H3.167a.75.75 0 1 0 0 1.5H21z"></path>
              </svg>
              <p>{{ item?.sunSet }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="TodayDetailsCard flex flex-wrap">
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center mr-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="temp" theme="dark"
            data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24
            24"><title>Temperature</title><path d="M10.333
              15.48v.321c.971.357 1.667 1.322 1.667 2.456 0 1.438-1.12
              2.604-2.5 2.604S7 19.695 7 18.257c0-1.134.696-2.099
              1.667-2.456v-.322a2.084 2.084 0 0 1-1.25-1.91V5.583a2.083
              2.083 0 1 1 4.166 0v7.986c0 .855-.514 1.589-1.25 1.91zM15.8
              8.1a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0
              0-2 1 1 0 0 0 0 2z"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Cao/Thấp</div>
          <div class="wxData">
            <span>{{ item?.daytimeTemperature }}°</span>/<span>{{
              item?.nightTemperature }}°</span>
          </div>
        </div>
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center ml-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="wind" theme="dark"
            data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24
            24"><title>Wind</title><path d="M6 8.67h5.354c1.457 0
              2.234-1.158 2.234-2.222S12.687 4.4 11.354 4.4c-.564
              0-1.023.208-1.366.488M3 11.67h15.54c1.457 0 2.235-1.158
              2.235-2.222S19.873 7.4 18.54 7.4c-.747 0-1.311.365-1.663.78M6
              15.4h9.389c1.457 0 2.234 1.159 2.234 2.223 0 1.064-.901
              2.048-2.234 2.048a2.153 2.153 0 0 1-1.63-.742"
              stroke-width="2" stroke="currentColor" stroke-linecap="round"
              fill="none"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Gió</div>
          <div class="wxData">
            <svg class="inline-block w-4 mr-1"
              style="transform:rotate(180deg)" set="current-conditions"
              name="wind-direction" theme="dark" aria-hidden="true"
              role="img" viewBox="0 0 24 24"><title>Wind Direction</title><path
                stroke="currentColor" fill="none" d="M18.467 4.482l-5.738
                5.738a1.005 1.005 0 0 1-1.417 0L5.575 4.482l6.446 16.44
                6.446-16.44z"></path></svg>
            <span>{{ item?.wind }}</span>
          </div>
        </div>
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center mr-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="humidity" theme="dark"
            data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24
            24"><title>Humidity</title><path fill-rule="evenodd" d="M11.743
              17.912a4.182 4.182 0 0 1-2.928-1.182 3.972 3.972 0 0
              1-.614-4.962.743.743 0 0 1 .646-.349c.234 0
              .476.095.66.275l4.467 4.355c.385.376.39.998-.076 1.275a4.216
              4.216 0 0 1-2.155.588M11.855 4c.316 0
              .61.14.828.395.171.2.36.416.562.647 1.857 2.126 4.965 5.684
              4.965 8.73 0 3.416-2.85 6.195-6.353 6.195-3.505
              0-6.357-2.78-6.357-6.195 0-3.082 2.921-6.406
              4.854-8.605.242-.275.47-.535.673-.772A1.08 1.08 0 0 1 11.855
              4"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Độ ẩm</div>
          <div class="wxData">
            <span>{{ item?.humidity }}°</span>
          </div>
        </div>
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center ml-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="dewpoint" theme="dark"
            data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24
            24"><title>Dew Point</title><path d="M17 8.1a2.8 2.8 0 1 1 0-5.6
              2.8 2.8 0 0 1 0 5.6zm0-1.85a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path><path
              fill-rule="evenodd" d="M9.743 18.912a4.182 4.182 0 0
              1-2.928-1.182 3.972 3.972 0 0 1-.614-4.962.743.743 0 0 1
              .646-.349c.234 0 .476.095.66.275l4.467
              4.355c.385.376.39.998-.076 1.275a4.216 4.216 0 0
              1-2.155.588M9.855 5c.316 0 .61.14.828.395.171.2.36.416.562.647
              1.857 2.126 4.965 5.684 4.965 8.73 0 3.416-2.85 6.195-6.353
              6.195-3.505 0-6.357-2.78-6.357-6.195 0-3.082 2.921-6.406
              4.854-8.605.242-.275.47-.535.673-.772C9.245 5.14 9.54 5 9.855
              5"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Điểm ngưng</div>
          <div class="wxData">
            <span>{{ item?.stopPoint }}°</span>
          </div>
        </div>
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center mr-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="pressure" theme="dark"
            data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24
            24"><title>Pressure</title><path d="M8.462
              18.293l-.29-.002c-.6-.004-1.043-.007-1.259-.007-1.119
              0-1.182-1.015-.34-1.734l.196-.164.508-.425
              1.543-1.292c1.014-.846 1.74-1.45 2.073-1.723.735-.601
              1.305-.596 2.033.022.387.329.959.805 2.207 1.841a377.936
              377.936 0 0 1 2.18 1.816c.796.67.742 1.66-.295
              1.66h-2.382v1.77c0 .83-.393 1.223-1.258 1.223h-2.994c-.809
              0-1.258-.42-1.258-1.207v-1.773l-.664-.005zm0-12.807l-.29.002c-.6.004-1.043.006-1.259.006-1.119
              0-1.182 1.016-.34 1.734l.196.164.508.426 1.543 1.29a348.68
              348.68 0 0 0 2.073 1.724c.735.601 1.305.596
              2.033-.022.387-.328.959-.805 2.207-1.84a377.937 377.937 0 0 0
              2.18-1.817c.796-.67.742-1.659-.295-1.659h-2.382v-1.77c0-.832-.393-1.224-1.258-1.224h-2.994c-.809
              0-1.258.42-1.258 1.207V5.48l-.664.005z"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Áp suất</div>
          <div class="wxData">
            <svg set="ui" name="arrow-down" class="inline-block w-4 mr-1.5"
              aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Arrow
                Down</title><path d="M11 2.5a1 1 0 0 1 2 0v19a1 1 0 0 1-2
                0v-19z"></path><path d="M12 20.086l7.293-7.293a1 1 0 0 1
                1.414 1.414l-8 8a1 1 0 0 1-1.414 0l-8-8a1 1 0 0 1
                1.414-1.414L12 20.086z"></path></svg>
            <span>{{ item?.pressure }} mb</span>
          </div>
        </div>
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center ml-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="uv" theme="dark"
            data-testid="Icon" aria-hidden="true" role="img" viewBox="0 0 24
            24"><title>UV Level</title><path d="M7.4 5.598a.784.784 0 0 1
              .25-.92c.335-.256.824-.197
              1.02.062.066.063.066.063.08.085l2.406 3.152-.626.238a3.983
              3.983 0 0 0-1.097.633l-.522.424L7.4 5.598zm4.539 2.358c-.21
              0-.418.017-.625.05l-.664.106.09-.666.438-3.266c.013-.072.013-.072.012-.057a.783.783
              0 0 1 .666-.616.78.78 0 0 1 .872.639l.006.038.507
              3.933-.662-.108a3.957 3.957 0 0 0-.64-.053zm-7.781
              3.19l.026-.004 3.934-.507-.108.662a3.98 3.98 0 0 0-.003
              1.266l.105.664-.665-.09-3.265-.439a.784.784 0 0
              1-.676-.679c-.054-.42.238-.809.63-.869l.022-.004zm11.504-.617a3.98
              3.98 0 0 0-.632-1.097l-.425-.522.623-.256 3.056-1.256a.787.787
              0 0 1 .916.253c.256.337.199.817-.104 1.063l-.045.037-3.151
              2.405-.238-.627zm-1.205-1.672a3.984 3.984 0 0
              0-1.095-.637l-.626-.24.41-.532
              2.008-2.602c.059-.07.059-.07.046-.052a.78.78 0 0 1
              1.306.227c.076.185.079.39.02.54l-.021.06-1.528
              3.662-.52-.426zM4.595
              7.793c.162-.387.611-.58.971-.441.017.004.017.004.055.02L9.283
              8.9l-.425.52a3.985 3.985 0 0 0-.636
              1.094l-.24.627-3.144-2.425a.784.784 0 0 1-.243-.924zm14.443
              7.367c.054.045.054.045.044.04a.784.784 0 0 1
              .199.884c-.163.386-.61.58-.964.443-.024-.006-.024-.006-.062-.022l-3.662-1.529.426-.52a3.98
              3.98 0 0 0 .636-1.094l.241-.626 3.142
              2.424zm1.332-3.303c.053.422-.239.809-.63.87l-.035.006-3.945.508.108-.662a3.999
              3.999 0 0 0 .003-1.266l-.105-.663.665.09
              3.272.44c.068.012.068.012.052.01a.784.784 0 0 1
              .615.667zm-3.894 6.421c.024.068.024.068.017.053a.786.786 0 0
              1-.27.87c-.332.25-.816.194-1.047-.091-.022-.023-.022-.023-.05-.058l-2.406-3.154.626-.237a3.977
              3.977 0 0 0 1.097-.632l.523-.425 1.51
              3.674zm-8.26-4.932c.151.397.365.767.633
              1.097l.424.522-.622.256-3.054 1.255a.787.787 0 0
              1-.92-.25.781.781 0 0
              1-.154-.58c.027-.199.127-.379.227-.452.045-.046.045-.046.075-.069l3.153-2.406.238.627zm3.723
              2.572c.209 0 .417-.016.625-.049l.662-.103-.089.664-.438
              3.26-.012.062a.785.785 0 0
              1-.666.618c-.048.005-.048.005-.101.006-.386
              0-.714-.28-.764-.612-.01-.043-.01-.043-.014-.072l-.507-3.934.662.108c.213.035.427.052.642.052zM7.366
              18.27l.006-.015L8.9 14.592l.52.426a3.99 3.99 0 0 0
              1.094.636l.626.241-.41.531-2.012 2.609-.04.046a.788.788 0 0
              1-.886.2.787.787 0 0 1-.428-1.011z"></path><path d="M11.911
              14.322a2.411 2.411 0 1 0 0-4.822 2.411 2.411 0 0 0 0 4.822zm0
              2a4.411 4.411 0 1 1 0-8.822 4.411 4.411 0 0 1 0 8.822z"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Chỉ số UV</div>
          <div class="wxData">
            <span>{{ item?.UVlevel }}</span>
          </div>
        </div>
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center mr-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="visibility" theme="dark"
            aria-hidden="true" role="img" viewBox="0 0 1024 1024"><title>Visibility</title><path
              d="M491.856
              879.808c-60.48-5.056-110.848-25.184-171.328-55.424-120.96-55.424-216.704-146.112-292.256-256.96-25.248-40.352-30.24-80.64
              0-126.016 80.608-115.872 186.464-211.68 317.472-272.096
              110.816-50.4 226.752-50.4 337.664 0 136 60.48 241.824 156.224
              317.44 282.208 15.104 25.216 25.12 65.504 10.048
              85.728-105.792 191.424-256.992 367.84-519.04
              342.56zm292.256-377.92c0-151.168-120.96-272.064-272.096-272.064-146.144
              0-272.128 126.016-272.128 272.064 0 151.232 120.96 277.216
              272.128 277.216 151.104-.032 272.096-125.984
              272.096-277.216z"></path><path d="M789.808 500.416c0
              156.896-125.472 287.52-282.336 282.336-156.864
              0-282.336-130.656-282.336-287.488 0-146.4 130.656-277.12
              282.336-277.12 156.896-.032 287.584 125.376 282.336
              282.272zM512.752 348.832c-83.68 0-151.584 67.968-151.584
              151.584 0 88.864 67.968 156.896 151.584 156.896 83.648 0
              156.832-73.216
              156.832-156.896-5.184-83.648-73.152-151.584-156.832-151.584z"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Tầm nhìn</div>
          <div class="wxData">
            <span>{{ item?.vision }}</span>
          </div>
        </div>
        <div class="WeatherDetailsListItem flex flex-row flex-nowrap
          justify-between items-center ml-1.5">
          <svg class="WeatherDetailsListItem-icon inline-block w-6"
            set="current-conditions" name="moonphase" theme="dark"
            aria-hidden="true" role="img" viewBox="0 0 24 24"><title>Moon
              Phase</title><path fill="none" d="M12.099 20.19a8.095 8.095 0
              1 0 0-16.19 8.095 8.095 0 0 0 0 16.19z" stroke="currentColor"
              stroke-width="1.5"></path><path d="M12.079 4.518c3.4.673 4.065
              5.797 4.066 7.577 0 1.78-.665 6.759-4.066 7.542-4.462
              0-8.079-3.07-8.079-7.542 0-4.47 3.617-7.577 8.079-7.577z"></path></svg>
          <div class="WeatherDetailsLabel flex-grow px-2.5">Tuần trăng</div>
          <div class="wxData">
            <span>{{ item?.moon }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-left4 w-full h-full col-span-12 mt-3
      rounded-md">
      <div class="main-content2-header flex p-4 text-lg rounded-t-md">
        <h2 class="text-xl font-semibold">Dự báo từng giờ</h2>
      </div>
      <ul class="weather-table flex justify-center px-2 mb-3 text-lg">

        <li class="" *ngFor="let item of data3">
          <a class="flex items-center font-normal" href="">
            <h3> {{ item?.time }}</h3>
            <span class="text-blue-600 text-4xl"> {{ item?.daytimeTemperature
              }}°</span>
            <img src=" {{ item?.image }}" alt="">
            <span class="color-text-span"> {{ item?.rainfall }}%</span>
          </a>
        </li>
      </ul>
      <div class="card-footer">
        <a class="btn rounded-2xl" routerLink="/hourly"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">48 Giờ tới</a>
      </div>
    </div>
    <div class="content-left5 w-full h-full col-span-12 mt-3
      rounded-md">
      <div class="main-content2-header flex p-4 text-lg rounded-t-md">
        <h2 class="text-xl font-semibold">Dự báo hằng ngày</h2>
      </div>
      <ul class="weather-table flex justify-center px-2 mb-3 text-lg">

        <li class="" *ngFor="let item of data4">
          <a class="flex items-center font-normal" href="">
            <h3> {{ item?.time }}</h3>
            <span class="text-blue-600 text-4xl"> {{ item?.daytimeTemperature
              }}°</span>
            <span class="text-blue-600"> {{ item?.nightTemperature }}°</span>
            <img src=" {{ item?.image }}" alt="">
            <span class="color-text-span flex">
              <svg set="heads-up" name="precip-rain-single" theme="full"
                aria-hidden="true" role="img"
                class="droplets inline-block font-bold" viewBox="0
                -2 5 10"><title>Rain</title><path
                  d="M4.7329.0217c-.1848-.059-.3855.0064-.4803.148L.2731
                  5.1191c-.0814.0922-.1501.1961-.196.3108-.2469.6009.1185
                  1.2697.8156 1.4943.6914.226 1.447-.0712
                  1.7-.6585L4.9662.4987l.0111-.0282c.073-.1807-.036-.379-.2444-.4488z"></path></svg>
              {{ item?.rainfall }}%</span>
          </a>
        </li>

      </ul>
      <div class="card-footer">
        <a class="btn rounded-2xl" routerLink="/ten-days"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">10 ngày tới</a>
      </div>
    </div>
  </div>
  <div class="main-content-right mr-3">
    <div class="content-right1 mb-3">
      <div class="main-content-right1 grid rounded-md ">
        <div class="text-xl p-4 font-semibold">CHỈ SỐ CH.LƯỢNG KH.KHÍ</div>
        <div class="air-quality flex items-start w-full pb-1.5">
          <div class="air-quality-icon pt-0.5">
            <svg width="60" height="60" data-testid="DonutChart"
              class="DonutChart-donutchart"><circle r="30" cx="30"
                cy="30" transform="rotate(90 30 30)" style="stroke-width:10"
                class="DonutChart--track--1PmE0"></circle><circle r="30" cx="30"
                cy="30" transform="rotate(90 30 30)"
                style="stroke-width:10;stroke-dasharray:125.6637061435917
                188.49555921538757;stroke:#FF0000"
                class="DonutChart--indicator--1iKxL"></circle><text x="50%"
                y="55%" dominant-baseline="middle" alignment-baseline="middle"
                text-anchor="middle" class="DonutChart-innerValue text-2xl
                font-extralight"
                data-testid="DonutChartValue">157</text></svg>
          </div>
          <div class="air-quality-text font-normal pb-4">
            <div class="air-quality-text-header text-lg ">
              Không tốt cho sức khỏe
            </div>
            <p class="text-sm">Những người trong nhóm nhạy cảm có thể có ảnh
              hưởng đến sức khỏe. Dân số chung không có khả năng bị ảnh hưởng.</p>
          </div>
        </div>
        <div class="btn-a">
          <a class="btn rounded-2xl" routerLink="/warning2"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Xem chi tiết</a>
        </div>
      </div>
    </div>
    <div class="content-right2">
      <div class="main-content-right2 grid rounded-md pb-1.5">
        <h2 class="text-xl px-4 font-semibold">Sức khỏe & Hoạt động</h2>
        <a class="listItem flex justify-between items-center"
          routerLink="/warning1" routerLinkActive="active"
          ariaCurrentWhenActive="page">
          <svg width="50" height="50" class="DonutChart block">
            <circle r="25" cx="25" cy="25" transform="rotate(90 25 25)"
              style="stroke-width:8" class="DonutChart-track"></circle>
            <circle r="25" cx="25" cy="25" transform="rotate(90 25 25)"
              style="stroke-width:8;stroke-dasharray:0
              157.07963267948966;stroke:#00e838"
              class="DonutChart-indicator"></circle>
            <svg name="grass" set="lifestyle" theme="dark"
              aria-hidden="true" role="img" class="Icon-darkTheme
              inline-block"
              width="25" x="12.5" viewBox="0 0 24 24">
              <title>Grass</title>
              <path d="M 12.452 10.885 C 11.662 8.905 10.941 7.779 9.304
                6.101 C 8.629 5.402 7.861 4.87 7.08 4.345 C 6.472 3.978
                5.794 4.514 6.185 5.039 C 7.252 6.401 9.09 8.945 9.757
                10.378 C 10.628 12.244 10.905 14.043 11.049 15.936 C 11.252
                18.031 10.529 20.132 11.227 21.024 C 11.705 21.641 13.362
                21.813 13.894 21.024 C 14.47 20.199 14.143 17.614 13.894
                16.146 C 13.68 14.538 13.056 12.398 12.452 10.885 Z M 20.415
                11.958 C 20.703 11.458 20.072 11.101 19.685 11.424 C 19.221
                11.782 18.274 12.685 17.761 13.374 C 16.996 14.402 16.457
                14.927 15.638 17.173 C 15.191 18.416 14.507 20.246 15.253
                21.058 C 16.23 22.121 17.638 20.736 17.761 20.11 C 18.163
                19.544 18.049 18.158 18.214 17.036 C 18.451 15.426 18.698
                14.66 19.63 13.14 C 20.091 12.391 20.043 12.545 20.415
                11.958 Z"></path>
              <path d="M 9.248 15.485 C 8.589 13.951 7.378 12.385 6.222
                11.494 C 5.299 10.782 4.654 10.299 3.973 9.923 C 3.583 9.701
                3.056 9.964 3.45 10.544 C 3.808 11.09 4.975 12.21 5.531
                12.916 C 6.087 13.622 6.504 14.061 7.034 15.827 C 7.563
                17.592 7.25 18.267 7.794 19.832 C 8.281 21.107 9.264 21.641
                10.07 20.494 C 10.579 19.258 9.904 17.018 9.248 15.485 Z M
                17.601 7.625 C 17.318 8.058 16.974 8.381 16.181 10.389 C
                15.273 12.523 15.724 15.035 14.976 14.861 C 14.457 14.861
                13.893 13.196 14.13 11.518 C 14.457 10.389 14.457 10.061
                14.976 9.058 C 15.341 8.236 16.218 7.57 16.991 7.07 C 17.431
                6.828 17.885 7.191 17.601 7.625 Z"></path>
            </svg>
          </svg>
          <div class="HealthActivitiesListItem-details ml-5">
            <h3 class="HealthActivitiesListItem-heading mb-1 text-lg
              font-normal ">
              Dự báo dị ứng theo mùa và lượng phấn hoa
            </h3>
            <p class="HealthActivitiesListItem-description text-sm">
              Không phát hiện phấn hoa trong khu vực của bạn
            </p>
          </div>
          <svg name="caret-right" set="ui" theme="action"
            class="Icon-actionTheme inline-block h-auto w-4 pl-2.5"
            aria-hidden="true" role="img" width="9" viewBox="0 0 24 24">
            <title>Arrow
              Right
            </title>
            <path d="M15.086 12L7.793 4.707a1 1 0 1 1
              1.414-1.414l8 8a1 1 0 0 1 0 1.414l-8 8a1 1 0 1
              1-1.414-1.414L15.086 12z">
            </path>
          </svg>
        </a>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
