.content-warning1 {
  color: #2b2b2b;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
}
.breakdownContainer {
  padding: 36px 0 36px 36px;
}
.breakdown {
  border-right: 1px solid #dedede;
  padding-right: 36px;
}
.pollenImgContainer img {
  max-height: 80px;
  max-width: 80px;
}
.outlookLevelColor {
  width: 0.6875rem;
  vertical-align: middle;
  box-sizing: unset;
}
.CardFooter {
  padding: 0 16px 11px 11px;
  margin-top: 0;
  border-top: none;
}
.Button-default {
  min-width: 100px;
  color: #1b4de4;
  text-decoration: none;
  cursor: pointer;
  padding: 1px 6px;
}
.Button-default span {
  color: #2b2b2b;
}
.managerHeading {
  margin-bottom: 36px;
}
.tipImage {
  margin-right: 25px;
}
.tipImage img {
  display: block;
  width: 56px !important;
  height: 56px;
  max-width: max-content;
}
.tipSubheader {
  line-height: 1.4;
  font-size: 0.875rem;
}

