<app-header></app-header>

<div class="main-content mx-auto grid gap-x-3 pt-3 pb-3">
  <div class="main-content-left relative ml-3 grid col-start-1 col-end-2
    gap-x-3 auto-rows-max">
    <div class="content-warning1 w-full col-span-12 h-full rounded-md
      bg-white">
      <h2 class="pl-4 pt-4 pr-4 text-lg font-semibold">Thông tin phấn hoa</h2>
      <p class="pl-4 pt-2.5 text-sm">Bạn có biết những loại phấn hoa làm các
        triệu chứng của bạn thêm nghiêm trọng không? Sau đây là viễn cảnh 3 ngày
        đối với những thủ phạm tồi tệ nhất.</p>
      <div class="PollenBreakdown flex">
        <div class="breakdownContainer w-full pt-9 pl-9 pb-9">
          <div class="breakdown w-full pr-9 flex flex-wrap items-center">
            <h3 class="pollenType pt-5 w-full text-lg font-bold order-1">
              Phấn hoa từ cây
            </h3>
            <div class="pollenImgContainer w-full flex justify-center
              order-none">
              <img src="../../assets/img/tree_particles.png" alt="">
            </div>
            <div class="outlookContainer w-full pt-4 order-2">
              <ul>
                <li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Hôm nay: <strong>Không có</strong>
                </li>
                <li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Ngày mai: <strong>Không có</strong>
                </li><li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Thứ Sáu: <strong>Không có</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="breakdownContainer w-full pt-9 pl-9 pb-9">
          <div class="breakdown w-full pr-9 flex flex-wrap items-center">
            <h3 class="pollenType pt-5 w-full text-lg font-bold order-1">
              Phấn hoa từ cỏ
            </h3>
            <div class="pollenImgContainer w-full flex justify-center
              order-none">
              <img src="../../assets/img/grass_particles.png" alt="">
            </div>
            <div class="outlookContainer w-full pt-4 order-2">
              <ul>
                <li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Hôm nay: <strong>Không có</strong>
                </li>
                <li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Ngày mai: <strong>Không có</strong>
                </li><li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Thứ Sáu: <strong>Không có</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="breakdownContainer w-full pt-9 pl-9 pb-9">
          <div class="breakdown w-full pr-9 flex flex-wrap items-center">
            <h3 class="pollenType pt-5 w-full text-lg font-bold order-1">
              Phấn hoa cỏ phấn hương
            </h3>
            <div class="pollenImgContainer w-full flex justify-center
              order-none">
              <img src="../../assets/img/ragweed_particles.png" alt="">
            </div>
            <div class="outlookContainer w-full pt-4 order-2">
              <ul>
                <li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Hôm nay: <strong>Không có</strong>
                </li>
                <li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Ngày mai: <strong>Không có</strong>
                </li><li class="list-none">
                  <div class="outlookLevelColor inline-block pr-2 w-2.5"><svg
                      viewBox="0 0 10 10"><circle cx="50%" cy="50%" r="50%"
                        fill="#cecece"></circle></svg></div>
                  Thứ Sáu: <strong>Không có</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <footer class="CardFooter flex items-center rounded-md">
        <button class="Button-default flex items-center">
          <svg theme="primary" set="ui" name="info" class="inline-block w-4 h-auto" aria-hidden="true" role="img" viewBox="0 0 16 16"><title>Info</title><g fill="none" fill-rule="evenodd"><path d="M7.881 1.201a6.8 6.8 0 10.238 13.598A6.8 6.8 0 007.88 1.201zm.259 14.798A8 8 0 117.86 0a8 8 0 01.28 16zM7.915 5.42a1.05 1.05 0 10-.037-2.1 1.05 1.05 0 00.037 2.1z" fill="currentColor"></path><path stroke="currentColor" stroke-width="1.5" d="M8 7v6"></path></g></svg>
          <span class="ml-1 text-xs">Thông tin chi tiết về phấn hoa</span>
        </button>
      </footer>
    </div>
    <div class="content-warning1 mt-3 w-full col-span-12 h-full rounded-md
      bg-white">
      <h2 class="managerHeading text-xl pt-4 pl-4 font-bold mb-8">Tips to Help Manage Your Allergies</h2>
    <div class="AllergyManagerTips grid grid-cols-2">
      <div class="tipWrapper p-4 flex items-center" *ngFor="let item of data">
        <div class="tipImage">
          <img src="{{ item?.img }}" alt="">
        </div>
        <div class="tipSubheader">
          <span class="font-bold">{{ item?.span }}</span>
          {{ item?.div }}
        </div>
      </div>

    </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
